.topComponent {
  height: 624px;
  background-color: gray;
}

.eachPlaylist {
  float: left;
  width: 22%;
  height: 226px;
  background-color: #FF5733;
  padding-top: 15px;
  padding-left: 12px;

}

.playlist_pic {
  text-align: center;
  height: 164px;
  width: 164px;
  background-color: white;
}

.topChart {
  background-color: #900C3F;
  height: 580px;
  padding-left: 15px;
  padding-top: 15px;
}

.picSlide {
  width: 848px;
  height: 337px;
  background-color: #FFC300;
}

.topSong {
  padding-top: 15px;
}

#left-panel {
  height: 580px;

}

#right-panel {
  height: 580px;
}
